html {
    min-height: 100vh;
    min-width: 100vw;
    overflow-x: hidden;
}
body{
    font-family: Georgia, serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-weight: 400;
    color: white;
    background-color: #4c4177;
    background: linear-gradient(315deg,#4c4177 0%, #2a5470 74%);
    background-repeat: no-repeat;
}